@using EngineerNotebook.Shared.Extensions
@model DocumentationViewModel

@{
    Layout = "_Standalone";

    string[] classes =
    {
        "badge-primary", "badge-secondary",
        "badge-success", "badge-danger", "badge-dark"
    };
}

<div class="jumbotron">
    <h2>@Model.Doc.Title</h2>

    <p>@Model.Doc.Description</p>
    <small>@Model.Doc.CreatedByUserId</small>

    <div class="row mb-0 pb-0">
        @for(int i = 0; i < Model.Tags.Count; i++)
        {
            var tag = Model.Tags[i];
            string css = classes[i % classes.Length];
            <span class="badge @css ml-2 mt-3">@tag.Name</span>
        }
    </div>
</div>

@Html.Raw(Model.Doc.Contents?.FromBase64())